/* Intialize */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Overall Display Flex Structure */
header, main, .timer-section, .quiz-section, .question-section, .answer-section, .score-section, .game-over-section, .score-display-section, .score-form-section {
  display: flex;
  justify-content: center;
}

/* Header */
header {
  align-items: center;
  height: 200px;
  background-color: brown;
}

header h1 {
  color: white;
}

/* Main */
main {
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.timer-section, .quiz-section, .question-section, .answer-section, .score-section, .game-over-section, .score-display-section, .score-form-section {
  width: 100%;
  padding-top: 20px;
  align-items: center;
}

/* Quiz Section */
.quiz-section {
  flex-wrap: wrap;
}

.answer-section-list {
  list-style-type: none;
  text-align: center;
}

.answer-section-list li {
  padding: 5px 0;
}

.answer-section-list li button {
  padding: 10px;
  font-size: 14px;
  border: none;
}

.answer-section-list li button:active {
  border: none;
}

.answer-section-list li button:hover {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 50px 0 rgba(0,0,0,0.19);
}

.incorrect-answer {
  background-color: red;
  color: white;
}

/* Score Section */
.score-section {
  flex-wrap: wrap;
}

.score-form-section input{
  margin: 0 5px;
  line-height: 35px;
  padding: 0 3px;
  font-size: 16px;
}

.score-form-section button{
  padding: 10px;
  border: none;
}